.other-container {
    margin-bottom: 20%;
}

.other-heading {
    text-align: center;
    margin-bottom: 30px;
}

.other-heading h1 {
    color: #a8b2d1;
    font-size: 28px;
}

.other-heading strong {
    color: #3fe6bf;
    letter-spacing: 2px;
}

.example-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.example-info {
    width: 280px;
    height: auto;
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #112240;
    border-radius: 5px;
}

.example-info p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.example-info p .folder {
    width: 40px;
    height: 40px;
    color: #3fe6bf;
}

.example-info a {
    color: inherit;
    font-size: 14px;
    line-height: 23px;
    text-decoration: none;
}

.example-info:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.example-info h2 {
    color: #a8b2d1;
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px;
}

.example-info article p {
    font-size: 13px;
}

.show-more-btn {
    text-align: center;
    margin: 80px 0;
}

.technologies {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
}

.technologies li {
    color: inherit;
    font-size: 13px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .other-container {
        margin-bottom: 30%;
    }
    .other-heading h1 {
        font-size: 24px;
    }
    
    .other-heading strong {
        font-size: 20px;
    }
    .example-info {
        width: 100%;
    }
}