.experience-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}

.experience-container h1 {
    color: #ccd6f6;
    padding-bottom: 15px;
}

.experience-container h1::before {
    content: "02.";
    display: inline-block;
    color: #3fe6bf;
    font-size: 24px;
    margin-right: 10px;
}

.experience-container h1::after {
    content: "";
    width: 45%;
    height: 1px;
    display: inline-block;
    background-color: #233554;
    margin-left: 15px;
    margin-bottom: 5px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-menu {
    flex-basis: 15%;
}

.sidebar-menu ol {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0;
}

.sidebar-menu ol li {
    font-size: 13px;
    font-weight: 700;
    padding: 15px 15px;
    cursor: pointer;
}

.sidebar-menu ol li:hover {
    color: #3fe6bf;
    background-color: #112240;
}

.active {
    color: #3fe6bf;
    background-color: #112240;
}

.sidebar-content {
    flex-basis: 80%;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sidebar-content h3 {
    color: #a8b2d1;
    margin: 10px 0;
}

.sidebar-content p {
    color: #4a689c;
}

.sidebar-content ol {
    list-style: none;
    padding-inline-start: 0px;
}

.sidebar-content ol li {
    color: #8892b0;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    margin: 15px 0;
}

.sidebar-content ol li::before {
    content: "▹";
    width: 30px;
    height: 100%;
    display: inline-block;
    color: #3fe6bf;
    font-size: 20px;
}

@media (max-width: 767px) {
    .experience-container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30%;
    }
    .experience-container h1::after {
        width: 100%;
        margin-left: 0;
    }
    .sidebar {
        flex-direction: column;
    }
    .sidebar-menu ol {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        overflow: scroll;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .active {
        color: #3fe6bf;
        border-bottom: 1px solid #3fe6bf;
        background-color: #112240;
    }
}