.social-link ul {
    list-style: none;
    padding-inline-start: 0;
}

.social-link ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-link ul li a {
    color: inherit;
    text-decoration: none;
}

.social-link ul li:hover, .social-link ul li a:hover {
    color: #3fe6bf;
    transition: all 0.5s;
    transform: translateY(-5px);
}

.social-link::after {
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: #8892b0;
}

@media (max-width: 768px) {
    .social-link::after {
        display: none;
    }
    .social-link ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .social-link ul li {
        margin: 0 -25%;
    }
}