@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding: 0;
    margin: 0;
    /* color: #a8b2d1; */
    color: #8892b0;
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0a192f;
}

::-webkit-scrollbar-thumb {
    background-color: #2d4266;
    border-radius: 20px;
    padding-right: 5px;
}

/* .anchor-txt {
    color: #64ffda;
    text-decoration: none;
    background: linear-gradient(to right, #64c8c8, #64c8c8), linear-gradient(to right, #ff0000, #ff00b4, #0064c8);
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.anchor-txt:hover, .anchor-txt:focus {
    background-size: 0 1px, 100% 1px;
} */